.header {
  .container {
    position: relative;
    background: #111828;
    height: 86.77px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 50px;

    .logo {
      .logo-text {
        background: var(--primary-color);
        padding: 7px 20px;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
      }
    }

    .nav {
      position: absolute;
      right: 0%;
      transform: translateX(0);
      width: auto;
      .navlinks {
        color: #fff;
        margin-right: 20px;
        font-size: 12px;
        cursor: pointer;

        &.login,
        &.signup {
          width: 77px;
          font-size: 14px;
          border-radius: 6px;
          padding: 7px 20px;
        }
        &.login {
          border: 2px solid var(--primary-color);
          &:hover {
            border: 2px solid#fff;
          }
        }
        &.signup {
          margin-right: 50px;
          background: var(--primary-color);
          &:hover {
            background: none;
            border: 1px solid var(--primary-color);
          }
        }
      }
    }
  }
}
