.home {
  background: url("../../assets/images/backgroundHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(970px / var(--size-divisor));
  position: relative;
  .home-container {
    display: grid;
    justify-content: center;
    .hero-section {
      margin-top: calc(150px / var(--size-divisor));
      font-weight: 600;
      line-height: calc(96px / var(--size-divisor));
      text-align: center;
      color: #fff;
      h3 {
        font-size: calc(64px / var(--size-divisor));
      }
      p {
        font-size: calc(32px / var(--size-divisor));
        line-height: calc(48px / var(--size-divisor));
      }
    }

    .filter {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-top: calc(30px / var(--size-divisor));
      div {
        margin-right: calc(10px / var(--size-divisor));
      }
      .dropdown-container {
        .get-ticket {
          display: grid;
          justify-content: center;
          align-items: center;
          background: #ff2525;
          width: calc(139px / var(--size-divisor));
          height: auto;
          min-height: calc(46px / var(--size-divisor));
          border-radius: calc(14.96px / var(--size-divisor));
          padding: calc(5px / var(--size-divisor));
          span {
            text-align: center;
            font-size: calc(13.48px / var(--size-divisor));
            line-height: calc(20.22px / var(--size-divisor));
            color: #fff;
            margin-right: calc(5px / var(--size-divisor));
            cursor: pointer;
          }
          .dropdoown {
            display: grid;
            border-top: 1px solid#fff;
            padding: calc(10px / var(--size-divisor)) 0;
            div {
              font-size: calc(10px / var(--size-divisor));
              font-weight: 400;
              line-height: calc(15px / var(--size-divisor));
              letter-spacing: 0em;
              text-align: left;
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }
      .search-container {
        display: inline-flex;
        width: calc(319.94px / var(--size-divisor));
        height: calc(41.23px / var(--size-divisor));
        border: 1.15px solid #fff;
        border-radius: calc(27px / var(--size-divisor));
        padding: calc(10px / var(--size-divisor))
          calc(20px / var(--size-divisor)) 0 calc(20px / var(--size-divisor));
        .search-icon {
          display: flex;
          img {
            width: calc(20.4px / var(--size-divisor));
            height: calc(20.4px / var(--size-divisor));
          }
        }
        input {
          background: transparent;
          outline: none;
          border: none;
          margin-left: calc(5px / var(--size-divisor));
          margin-top: calc(-12px / var(--size-divisor));
          color: #fff;
          &:focus,
          &:hover {
            background: transparent;
          }
          &::placeholder {
            color: #fff;
            font-size: calc(18.33px / var(--size-divisor));
            line-height: calc(27.49px / var(--size-divisor));
            font-weight: 250;
          }
        }
      }
      .vote-now {
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(136.3px / var(--size-divisor));
          height: calc(44.93px / var(--size-divisor));
          border: 1.62px solid #fff;
          border-radius: calc(14.98px / var(--size-divisor));
          color: #fff;
          cursor: pointer;
          font-size: calc(13px / var(--size-divisor));
          font-weight: 600;
          line-height: calc(20px / var(--size-divisor));
          letter-spacing: 0em;
          text-align: center;
        }
      }
    }
  }
}

.section-one {
  background: #f8f8f8;
  position: relative;
  .section-container {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(1241px / var(--size-divisor));
    min-height: calc(140px / var(--size-divisor));
    background: #242565;
    border-radius: calc(20px / var(--size-divisor));
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    color: #fff;
    padding: calc(11px / var(--size-divisor));
    div {
      img {
        width: calc(149px / var(--size-divisor));
        height: calc(124px / var(--size-divisor));
      }
    }
    .section-one-text {
      h3 {
        font-size: calc(24px / var(--size-divisor));
        font-weight: 600;
        line-height: calc(60px / var(--size-divisor));
        letter-spacing: 0em;
        text-align: left;
        width: calc(389px / var(--size-divisor));
        margin-top: calc(-15px / var(--size-divisor));
      }
      p {
        font-size: calc(16px / var(--size-divisor));
        font-weight: 500;
        line-height: calc(24px / var(--size-divisor));
        letter-spacing: 0em;
        text-align: left;
        margin-top: calc(-20px / var(--size-divisor));
      }
    }
    .features {
      width: 100%;
      float: right;
      .features-container {
        display: inline-flex;
        position: relative;
        padding: 0 calc(50px / var(--size-divisor));
        float: right;
        .feature {
          position: relative;
          width: calc(60.83px / var(--size-divisor));
          height: calc(57.89px / var(--size-divisor));
          border: 0.8px solid var(--primary-color);
          border-radius: calc(6.7px / var(--size-divisor));
          margin-right: calc(10px / var(--size-divisor));
          background: #344c7180;

          div {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: calc(33px / var(--size-divisor));
              height: calc(26px / var(--size-divisor));
              object-fit: contain;
            }
          }

          .feature-text {
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%, 100%);
            color: #fff;
            border-top: 0.8px solid var(--primary-color);
            width: 100%;
            padding: calc(1.2px / var(--size-divisor)) 0;
            font-size: calc(9px / var(--size-divisor));
            font-weight: 500;
            line-height: calc(13px / var(--size-divisor));
            letter-spacing: 0em;
            height: fit-content;
            background: #111828;
            border-radius: 0 0 calc(6.7px / var(--size-divisor))
              calc(6.7px / var(--size-divisor));
          }
        }
      }
    }
  }
}

.section-two {
  background: #f8f8f8;
  .section-container {
    padding-top: calc(100px / var(--size-divisor));
    padding-bottom: calc(30px / var(--size-divisor));
    .header {
      h3 {
        font-size: calc(30px / var(--size-divisor));
        font-weight: 600;
        line-height: calc(45px / var(--size-divisor));
        letter-spacing: 0em;
        text-align: center;
      }
      p {
        font-size: calc(20px / var(--size-divisor));
        font-weight: 500;
        line-height: calc(30px / var(--size-divisor));
        letter-spacing: 0em;
        text-align: center;
      }
    }

    .contents {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: flex-start;
      padding: 30px;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      .content-container {
        display: grid;
        margin-right: calc(30px / var(--size-divisor));
        .content {
          width: calc(380px / var(--size-divisor));
          height: calc(300px / var(--size-divisor));
          border: calc(3px / var(--size-divisor)) solid #fff;
          border-radius: 20px;
          .img {
            img {
              border-radius: calc(20px / var(--size-divisor))
                calc(20px / var(--size-divisor)) 0 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .content-text {
          position: relative;
          background: #282a9f;
          border: calc(3px / var(--size-divisor)) solid #fff;
          border-radius: 0 0 calc(20px / var(--size-divisor))
            calc(20px / var(--size-divisor));
          height: calc(80px / var(--size-divisor));
          width: calc(380px / var(--size-divisor));
          .innerText {
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 30%);
            border: calc(3px / var(--size-divisor)) solid #fff;
            background: #1b1b41;
            font-size: calc(24px / var(--size-divisor));
            font-weight: 500;
            line-height: calc(36px / var(--size-divisor));
            letter-spacing: 0em;
            text-align: center;
            color: #fff;
            border-radius: calc(12px / var(--size-divisor));
            width: calc(80% / var(--size-divisor));
          }
          .text {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -70%);
            color: #fff;
            font-size: calc(16px / var(--size-divisor));
            img {
              width: calc(26px / var(--size-divisor));
              height: calc(25.23px / var(--size-divisor));
            }
          }
        }
      }
    }
    .section-footer {
      text-align: center;
      h3 {
        font-size: calc(24px / var(--size-divisor));
        font-weight: 600;
        line-height: calc(36px / var(--size-divisor));
        letter-spacing: 0em;
      }

      p {
        font-size: calc(16px / var(--size-divisor));
        font-weight: 500;
        line-height: calc(24px / var(--size-divisor));
        letter-spacing: 0em;
      }
    }
  }
}

.section-three {
  background: #c5c1ff;
  .section-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 100px 50px 30px 50px;
    .content-one {
      display: grid;
      h3 {
        font-size: calc(46px / var(--size-divisor));
        font-weight: 600;
        line-height: calc(70px / var(--size-divisor));
        letter-spacing: 0em;
        text-align: left;
      }
      p {
        font-size: calc(31px / var(--size-divisor));
        font-weight: 500;
        line-height: calc(46px / var(--size-divisor));
        letter-spacing: 0em;
        text-align: left;
      }
      img {
        width: calc(694px / var(--size-divisor));
        margin-top: calc(35px / var(--size-divisor));
        cursor: pointer;
      }
    }

    .content-two {
      width: 50%;
      position: relative;
      img {
        width: calc(501px / var(--size-divisor));
        position: absolute;
        left: 90%;
        top: -5%;
        transform: translate(-70%, 0);
        object-fit: contain;
      }
    }
  }
}

.section-four {
  position: relative;
  z-index: 100;
  background: #fff;
  height: auto;
  .section-container {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    .background {
      position: absolute;
      top: 25%;
      left: 0;
      width: 100%;
      height: 75%;
      background: #5957b7;
      z-index: -1;
    }
    .content-one {
      img {
        z-index: 1;
        margin-top: calc(50px / var(--size-divisor));
        margin-left: calc(80px / var(--size-divisor));
        object-fit: cover;
        width: 100%;
      }
    }
    .content-two {
      position: relative;
      .one {
        color: #22304e;
        padding: calc(50px / var(--size-divisor));
        h3 {
          font-size: calc(27px / var(--size-divisor));
          font-weight: 600;
          line-height: calc(45px / var(--size-divisor));
          letter-spacing: 0em;
          text-align: right;
        }
        p {
          font-size: calc(20px / var(--size-divisor));
          font-weight: 500;
          line-height: calc(30px / var(--size-divisor));
          letter-spacing: 0em;
          text-align: right;
        }
      }
      .two {
        float: right;
        color: #fff;
        padding: 30px 50px 30px 0;
        h3 {
          font-size: calc(32px / var(--size-divisor));
          font-weight: 700;
          line-height: calc(42px / var(--size-divisor));
          letter-spacing: 0em;
          text-align: left;
        }

        p {
          max-width: calc(488.27px / var(--size-divisor));
          font-size: calc(20px / var(--size-divisor));
          font-weight: 400;
          line-height: calc(30px / var(--size-divisor));
          letter-spacing: 0em;
          text-align: left;
        }

        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(291.44px / var(--size-divisor));
          height: calc(57.9px / var(--size-divisor));
          border-radius: calc(19.3px / var(--size-divisor));
          background: var(--primary-color);
          font-size: calc(17px / var(--size-divisor));
          font-weight: 700;
          line-height: calc(23px / var(--size-divisor));
          letter-spacing: 0em;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}
.footer {
  background: #0a075f;
  .section-container {
    padding: 30px 50px;
    color: #fff;
    .contents {
      display: grid;
      grid-template-columns: auto auto auto auto;
      .content {
        display: grid;
        .social-links {
          display: inline-flex;
          a {
            text-decoration: none;
            img {
              width: calc(36px / var(--size-divisor));
              height: calc(36px / var(--size-divisor));
              margin-right: calc(15px / var(--size-divisor));
            }
          }
        }
        &.get-notified {
          .get-notified-button {
            position: relative;
            display: flex;
            align-items: center;
            border-radius: calc(50px / var(--size-divisor));
            background: #f1f1f1;
            width: calc(364px / var(--size-divisor));
            height: calc(60.79px / var(--size-divisor));
            padding: 0 10px;
            input {
              border: none;
              outline: none;
              background: none;
              &::placeholder {
                font-size: calc(12px / var(--size-divisor));
                font-weight: 400;
                line-height: calc(16px / var(--size-divisor));
                letter-spacing: 0em;
                text-align: left;
                color: #959595;
              }
            }
          }
          .btn {
            position: absolute;
            right: 4%;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: calc(140.79px / var(--size-divisor));
            min-height: calc(48.4px / var(--size-divisor));
            background: #fe2526;
            border-radius: calc(50px / var(--size-divisor));
            font-size: calc(12px / var(--size-divisor));
            font-weight: 300;
            line-height: calc(18px / var(--size-divisor));
            letter-spacing: calc(0.065em / var(--size-divisor));
            text-align: left;
          }
        }
        P {
          font-size: calc(14px / var(--size-divisor));
          font-weight: 400;
          line-height: calc(22px / var(--size-divisor));
          letter-spacing: 0em;
          text-align: left;
          max-width: calc(362px / var(--size-divisor));
        }
        a {
          color: #fff;
          text-decoration: none;
          font-size: calc(14px / var(--size-divisor));
          font-weight: 500;
          line-height: calc(28px / var(--size-divisor));
          letter-spacing: 0em;
          text-align: left;
        }
        div:nth-child(1) {
          font-size: calc(18px / var(--size-divisor));
          font-weight: 700;
          line-height: calc(23px / var(--size-divisor));
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: calc(10px / var(--size-divisor));
        }
        &:nth-child(1) {
          p {
            width: calc(412px / var(--size-divisor));
          }
        }
      }
    }
    .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 60px;
      margin: calc(40px / var(--size-divisor)) calc(50px / var(--size-divisor))
        0 0px;
      font-size: calc(14px / var(--size-divisor));
      font-weight: 500;
      line-height: calc(22px / var(--size-divisor));
      letter-spacing: 0em;
      text-align: left;
      border-top: 2px solid #ddd;
    }
  }
}

@media (max-width: 768px) {
  .home {
    background: url("../../assets/images/backgroundHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 376px;
    position: relative;
    .home-container {
      display: grid;
      justify-content: center;
      .hero-section {
        line-height: 39px;
        text-align: center;
        color: #fff;
        h3 {
          font-size: 26px;
        }
        p {
          font-size: 14px;
          line-height: 21px;
        }
      }

      .filter {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: calc(30px / var(--size-divisor));
        div {
          margin-right: calc(10px / var(--size-divisor));
        }
        .dropdown-container {
          .get-ticket {
            max-width: 85.96px;
            max-height: 27.83px;
            padding: 5.49px;
            border-radius: 9.26px;
            gap: 5.49px;
            span {
              font-size: 8px;
              font-weight: 600;
              line-height: 13px;
              letter-spacing: 0em;
              text-align: center;
            }
            .dropdoown {
              display: grid;
              border-top: 1px solid#fff;
              padding: calc(10px / var(--size-divisor)) 0;
              div {
                font-size: calc(10px / var(--size-divisor));
                font-weight: 400;
                line-height: calc(15px / var(--size-divisor));
                letter-spacing: 0em;
                text-align: left;
                color: #fff;
                cursor: pointer;
              }
            }
          }
        }
        .vote-now {
          span {
            width: 84.29px;
            height: 27.79px;
            top: 235px;
            left: 186.71px;
            border-radius: 9.26px;
            font-size: 8px;
            font-weight: 600;
            line-height: 13px;
            letter-spacing: 0em;
            text-align: center;
          }
        }
      }
    }
  }

  .section-one {
    background: #f8f8f8;
    position: relative;
    .section-container {
      max-width: 324px;
      min-height: 45px;
      background: #242565;
      border-radius: calc(20px / var(--size-divisor));
      div {
        img {
          width: 52.74px;
          height: 43.89px;
        }
      }
      .section-one-text {
        h3 {
          font-size: 8.7px;
          font-weight: 600;
          line-height: 13.05px;
          letter-spacing: 0em;
          text-align: left;
          width: 141px;
          margin-top: 10px;
        }
        p {
          font-size: 5.8px;
          font-weight: 500;
          line-height: 8.7px;
          letter-spacing: 0em;
          text-align: left;
          margin-top: -10px;
        }
      }
      .features {
        width: 100%;
        float: right;
        .features-container {
          display: inline-flex;
          position: relative;
          float: right;
          padding: 0 calc(2px / var(--size-divisor));
          .feature {
            position: relative;
            width: calc(53.83px / var(--size-divisor));
            height: calc(50.89px / var(--size-divisor));
            border: 0.8px solid var(--primary-color);
            border-radius: calc(6.7px / var(--size-divisor));
            margin-right: calc(10px / var(--size-divisor));
            background: #344c7180;

            div {
              img {
                width: 15.57px;
                height: 15.57px;
              }
            }

            .feature-text {
              font-family: Poppins;
              font-size: 4px;
              font-weight: 500;
              line-height: 6px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
        }
      }
    }
  }

  .section-two {
    background: #f8f8f8;
    .section-container {
      padding-top: calc(100px / var(--size-divisor));
      padding-bottom: calc(30px / var(--size-divisor));
      .header {
        h3 {
          font-size: 13.39px;
          font-weight: 600;
          line-height: 20.09px;
          letter-spacing: 0em;
          text-align: center;
        }
        p {
          font-size: 8.93px;
          font-weight: 500;
          line-height: 13.39px;
          letter-spacing: 0em;
          text-align: center;
        }
      }

      .contents {                
        padding: 10px;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        .content-container {
          display: grid;
          margin-right: 10px;            
          scrollbar-width: none;
          -ms-overflow-style: none;
          .content {
            width: 129.07px;
            height: 116.17px;
            border: 1.02px;
            border-radius: 6.79px;
            .img {
              img {
                border-radius: 6.79px
                  6.79px 0 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          .content-text {
            position: relative;
            background: #282a9f;
            border: 1.02px;
            border-radius: 0 0 4.08px 4.08px;
            height: 20.64px;
            width: 127.6px;
            .innerText {
              position: absolute;
              top: -50%;
              left: 50%;
              transform: translate(-50%, 30%);
              border: 1.02px;              
              font-size:8.15px;
              font-weight: 500;
              border-radius: 2px;
              line-height: 12.23px;                            
              width: 80%;
            }
            .text {
              position: absolute;
              top: 70%;
              left: 50%;
              transform: translate(-50%, -70%);
              color: #fff;
              font-size: 5.43px;
              img {
                width: 8.83px;
                height: 8.57px;
              }
            }
          }
        }
      }
      .section-footer {
        text-align: center;
        h3 {
          font-size: 12.03px;
          font-weight: 600;
          line-height: 18.04;
          letter-spacing: 0em;
        }

        p {
          font-size: 8.02px;
          font-weight: 500;
          line-height: 12.03px;
          letter-spacing: 0em;
        }
      }
    }
  }

  .section-three {
    background: #c5c1ff;
    .section-container {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
      padding: 50px 20px 10px 20px;
      .content-one {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
        h3 {
          text-align: center;
          font-size: calc(46px / var(--size-divisor));
          font-weight: 600;
          line-height: calc(70px / var(--size-divisor));
          letter-spacing: 0em;          
        }
        p {
          text-align: center;
          font-size: calc(31px / var(--size-divisor));
          font-weight: 500;
          line-height: calc(46px / var(--size-divisor));
          letter-spacing: 0em;        
        }
        img {
          display: grid;
          justify-content: center;
          width: 319px;
          height: 62.59px;
          margin-top: 10px          
        }
      }

      .content-two {
        width: 50%;
        position: relative;
        img {
          width: calc(501px / var(--size-divisor));
          position: absolute;
          left: 90%;
          top: -5%;
          transform: translate(-70%, 0);
          object-fit: contain;
        }
      }
    }
  }

  .section-four {
    position: relative;
    z-index: 100;
    background: #fff;
    height: auto;
    .section-container {
      position: relative;
      display: grid;
      grid-template-columns: auto auto;
      .background {
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
        height: 75%;
        background: #5957b7;
        z-index: -1;
      }
      .content-one {
        img {
          z-index: 1;
          margin-top: calc(50px / var(--size-divisor));
          margin-left: calc(80px / var(--size-divisor));
          object-fit: cover;
          width: 100%;
        }
      }
      .content-two {
        position: relative;
        .one {
          color: #22304e;
          padding: calc(50px / var(--size-divisor));
          h3 {
            font-size: calc(27px / var(--size-divisor));
            font-weight: 600;
            line-height: calc(45px / var(--size-divisor));
            letter-spacing: 0em;
            text-align: right;
          }
          p {
            font-size: calc(20px / var(--size-divisor));
            font-weight: 500;
            line-height: calc(30px / var(--size-divisor));
            letter-spacing: 0em;
            text-align: right;
          }
        }
        .two {
          float: right;
          color: #fff;
          padding: 30px 50px 30px 0;
          h3 {
            font-size: calc(32px / var(--size-divisor));
            font-weight: 700;
            line-height: calc(42px / var(--size-divisor));
            letter-spacing: 0em;
            text-align: left;
          }

          p {
            max-width: calc(488.27px / var(--size-divisor));
            font-size: calc(20px / var(--size-divisor));
            font-weight: 400;
            line-height: calc(30px / var(--size-divisor));
            letter-spacing: 0em;
            text-align: left;
          }

          .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(291.44px / var(--size-divisor));
            height: calc(57.9px / var(--size-divisor));
            border-radius: calc(19.3px / var(--size-divisor));
            background: var(--primary-color);
            font-size: calc(17px / var(--size-divisor));
            font-weight: 700;
            line-height: calc(23px / var(--size-divisor));
            letter-spacing: 0em;
            text-align: center;
            color: #fff;
          }
        }
      }
    }
  }
  .footer {
    background: #0a075f;
    .section-container {
      padding: 30px 50px;
      color: #fff;
      .contents {
        display: grid;
        grid-template-columns: auto auto auto auto;
        .content {
          display: grid;
          .social-links {
            display: inline-flex;
            a {
              text-decoration: none;
              img {
                width: calc(36px / var(--size-divisor));
                height: calc(36px / var(--size-divisor));
                margin-right: calc(15px / var(--size-divisor));
              }
            }
          }
          &.get-notified {
            .get-notified-button {
              position: relative;
              display: flex;
              align-items: center;
              border-radius: calc(50px / var(--size-divisor));
              background: #f1f1f1;
              width: calc(364px / var(--size-divisor));
              height: calc(60.79px / var(--size-divisor));
              padding: 0 10px;
              input {
                border: none;
                outline: none;
                background: none;
                &::placeholder {
                  font-size: calc(12px / var(--size-divisor));
                  font-weight: 400;
                  line-height: calc(16px / var(--size-divisor));
                  letter-spacing: 0em;
                  text-align: left;
                  color: #959595;
                }
              }
            }
            .btn {
              position: absolute;
              right: 4%;
              color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              min-width: calc(140.79px / var(--size-divisor));
              min-height: calc(48.4px / var(--size-divisor));
              background: #fe2526;
              border-radius: calc(50px / var(--size-divisor));
              font-size: calc(12px / var(--size-divisor));
              font-weight: 300;
              line-height: calc(18px / var(--size-divisor));
              letter-spacing: calc(0.065em / var(--size-divisor));
              text-align: left;
            }
          }
          P {
            font-size: calc(14px / var(--size-divisor));
            font-weight: 400;
            line-height: calc(22px / var(--size-divisor));
            letter-spacing: 0em;
            text-align: left;
            max-width: calc(362px / var(--size-divisor));
          }
          a {
            color: #fff;
            text-decoration: none;
            font-size: calc(14px / var(--size-divisor));
            font-weight: 500;
            line-height: calc(28px / var(--size-divisor));
            letter-spacing: 0em;
            text-align: left;
          }
          div:nth-child(1) {
            font-size: calc(18px / var(--size-divisor));
            font-weight: 700;
            line-height: calc(23px / var(--size-divisor));
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: calc(10px / var(--size-divisor));
          }
          &:nth-child(1) {
            p {
              width: calc(412px / var(--size-divisor));
            }
          }
        }
      }
      .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 60px;
        margin: calc(40px / var(--size-divisor))
          calc(50px / var(--size-divisor)) 0 0px;
        font-size: calc(14px / var(--size-divisor));
        font-weight: 500;
        line-height: calc(22px / var(--size-divisor));
        letter-spacing: 0em;
        text-align: left;
        border-top: 2px solid #ddd;
      }
    }
  }
}
