.home{
    background: url("../../assets/images/homepageBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 941px;    
    .container{
        .hero-section{

        }
    }
}