.tickets{
    padding-top: 70px;
    background-color: rgb(237, 237, 245);
    .container{
        background-color: #ffffff;
        border-radius: 24px;
        padding: 0;
        overflow: hidden;

        .inner-container .ticket-field{
            border-radius: 20px;
            overflow: hidden;
            margin: 50px 0 40px;
            // box-shadow: 1px 1px 5px 1px #cdcdcd;
            width: 70%;
            padding: 20px;

            .upper{

                .ticket-img{
                    height: 128.63px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }      
                }

                .ticket-count{
                    height: 147px;

                    .ticket-count-lower{
                        position: relative;
                        border-left: 20px solid blue;
                        border: 1px solid #cdcdcd;
                        .p-ticket-type{
                            font-weight: 600;
                            font-size: 25px;
                            line-height: 34px;
                        }

                        .ticket-count-2{
                            .counter-div{
                                height: 44px;
                                left: 0;
                                width: 140px;
                                display: flex;
                                justify-content: space-evenly;
                                align-items: center;
                                span{
                                    font-size: 19px;
                                    font-weight: bold;
                                }
                            }
                        }
                            .change-ticket-type{
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                font-size: 13px;
                                padding-right: 5px;
                                color: #5658c5;
                                background-color: #abacef;
                            }
                    }
                }
                .ticket-count>div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 20px;
                    // background-color: wheat;
                }
            } 

            .formfield span {
                line-height: 24px;
                height: 24px;
                color: #55585e;
                margin-top: 30px !important;
              }
              .formfield .input {
                width: 100%;
                height: 75.96px;
                background: #ffffff;
                margin: 10px 0;
      
                input {
                  height: 52.69px;
                  width: 100%;
                  background-color: transparent;
                  padding: 10px;
                  border: 1px solid #b0b0b0;
                  border-radius: 8px;            
                }
              }
            
            .formfield .submit {
              width: 100%;
              height: 52.69px;
              top: 439px;
              background-color: #111828;
              border: 1px solid #111828;
              margin-top: 15px;
              border: none;
              border-radius: 8px;
      
              input {
                color: #ffffff;
                height: 100%;
                width: 100%;
                border: none;
                background-color: transparent;
                border-radius: 8px;
              }
            }
      
            .formfield p {
              font-size: 14.13px;
              font-weight: 500;
              line-height: 21.19px;
              color: #636363;
              margin-left: 10px;
      
              span {
                font-weight: bolder;
                text-decoration: none;
              }
            }
      
        }

        .inner-container-2{
            .img2{
                height: 243px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .summary-side{
                background-color: #e2e2e9;
                padding: 10px;
                
                .title{
                    font-weight: 400;
                    font-size: 19px;
                    line-height: 28px;
                }

                .price-calc>div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                
                }
                .price-calc .total-pricing p{
                    font-weight: bolder;
                    font-size: 22px;
                }
            }
        }
    }
}